@import '../../shared-styles/index';

.buttonContainer {
  position: relative;
  overflow: visible;
  width: 2em;

  button {
    position: absolute;
  }

  i {
    transition: color $transition-med;
  }

  &.isFavorite {
    transform: translateX(0);
    width: 100%;

    button {
      right: 0;
    }

    i {
      color: $color-red;
      text-shadow: none;
    }
  }
}
